<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
    <contextName>gdcdgj-charging-service</contextName>
    <!-- 定义变量 -->
    <Property name="log.base" value="logs"/>
    <Property name="log.name" value="service"/>
    <Property name="log.level" value="INFO"/>

    <!-- 控制台输出 -->
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <!-- 格式化日志utf-8 -->
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %C{1} [%M:%L] [%thread]
                - %msg%n
            </pattern>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %C{1} [%M:%L]
                - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>

