<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yueshushu.security.mapper.RoleMapper">

<select id="listRolesByUserId" resultType="top.yueshushu.security.model.Role">
    select * from role t where t.id in ( select role_id from user_role where user_id = #{userId})
</select>
</mapper>